body {
    background-color: #5271FF;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    height: 100vh;
    margin: 0;
}

#section1 {
    flex: 1;
    background-color: #1a3fe6;
    padding: 20px;
}

#section2 {
    flex: 1;
    background-color: #5271FF;
    padding: 20px;

}

#descriptionTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

#descriptionTable th {
    text-align: left;
    width: 100px; /* Ancho específico para las celdas de encabezado */
  }
  
  #descriptionTable td {
    width: 300px; /* Ancho específico para las celdas de datos */
  }

#descriptionTable tr:hover {
    opacity: 2;
    background-color: #5e7bfe;
}

#descriptionTable th:first-child,
#descriptionTable td:first-child {
    font-weight: bold;
}
.star-rating {
    font-size: 0;
    white-space: nowrap;
    display: inline-block;
    vertical-align: middle;
    direction: rtl;
    unicode-bidi: bidi-override;
}

.star-rating label {
    display: inline-block;
    cursor: pointer;
    color: #8f8f8f;
    font-size: 30px;
    padding: 0;

}

.star-rating input[type="radio"] {
    display: none;
}

.star-rating input[type="radio"]:checked~label {
    color: #f2be3e;
}

.tag-container {
    margin-bottom: 10px;
    display: flex;
  flex-wrap: wrap;
  width: 100%; 
}

.tag {
    display: inline-block;
    margin: 2px;
    border-radius: 20px;
    background-color: #f0f0f0;
    color: #333;
    text-decoration: none;
    cursor: pointer;
    padding: 5px 10px;
    margin-right: 5px; /* Espacio entre tags */
    margin-bottom: 5px; /* Espacio entre líneas de tags */
    font-size: 10px;
}

.tag.selected-tag {
    background-color: #1a3fe6; /* Green color for selected tags */
    color: #fff; /* White text for better contrast */
}

.tag:hover {
    background-color: #e0e0e0;
}

#newTagContainer {
    margin-top: 5px;
  }
  
  #newTagInput {
    margin-right: 5px;
  }
  
  #newTagButton {
    padding: 5px 10px;
    cursor: pointer;
  }

#saveButton{
    margin: 10px;
    position: relative;
    align-items: center;
    top: 10%;
    left: 50%; /* Centrar horizontalmente */
    transform: translate(-50%); /* Ajustar al centro exacto */
}