body {
    background-color: #5271FF;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    height: 100vh;
    margin: 0;
    color: aliceblue;
}

#section1 {
    flex: 1;
    background-color: #5271FF;
    padding: 20px;
    height: 100vh;
}

#descriptionTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

#descriptionTable th {
    text-align: left;
    width: 150px;
    /* Ancho específico para las celdas de encabezado */
}

#descriptionTable td {
    width: 300px;
    /* Ancho específico para las celdas de datos */
}

#descriptionTable tr:hover {
    opacity: 2;
    background-color: #5e7bfe;
}

#descriptionTable th:first-child,
#descriptionTable td:first-child {
    font-weight: bold;
}

.-star-display {
    color: #f2be3e;
}

.star-rating {
    font-size: 0;
    white-space: nowrap;
    display: inline-block;
    vertical-align: middle;
    direction: rtl;
    unicode-bidi: bidi-override;
}

.star-rating label {
    display: inline-block;
    cursor: pointer;
    color: #8f8f8f;
    font-size: 30px;
    padding: 0;

}

.star-rating input[type="radio"] {
    display: none;
}

.star-rating input[type="radio"]:checked~label {
    color: #f2be3e;
}

.star-rating span {
    display: inline-block;
    cursor: pointer;
    color: #8f8f8f;
    font-size: 30px;
    padding: 0;
}

.star-rating span.star {
    color: #f2be3e;
}

.tag-container {
    margin-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.tag {
    display: inline-block;
    margin: 2px;
    border-radius: 20px;
    background-color: #f0f0f0;
    color: #333;
    text-decoration: none;
    cursor: pointer;
    padding: 5px 10px;
    margin-right: 5px;
    /* Espacio entre tags */
    margin-bottom: 5px;
    /* Espacio entre líneas de tags */
    font-size: 10px;
}

.tag.selected-tag {
    background-color: #1a3fe6;
    /* Green color for selected tags */
    color: #fff;
    /* White text for better contrast */
}

.tag:hover {
    background-color: #e0e0e0;
}

#newTagContainer {
    margin-top: 5px;
}

#newTagInput {
    margin-right: 5px;
}

#newTagButton {
    padding: 5px 10px;
    cursor: pointer;
}

#buttonContainer {
    display: flex;
    justify-content: center;
    /* Centrar horizontalmente */
    align-items: center;
    /* Centrar verticalmente */
    height: 20vh;
    /* Altura del 100% del viewport para centrar verticalmente */
}

#saveButton,
#editButton {
    margin: 10px;
    display: inline-block;
    background-color: aliceblue;
  color: #5271FF;
  cursor: pointer;
  border-radius: 10px;
  border: none;
  padding: 5px 10px;
  box-shadow: 0 0 20px rgba(1, 1, 1, 0.1);
}
#saveButton:hover,
#editButton:hover{
    opacity:.75;
}


#savedInfoContainer {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

#savedInfoContainer th {
    text-align: left;
    width: 150px;
    /* Ancho específico para las celdas de encabezado */
}

#savedInfoContainer td {
    width: 300px;
    /* Ancho específico para las celdas de datos */
}

#savedInfoContainer tr:hover {
    opacity: 2;
    background-color: #5e7bfe;
}

#savedInfoContainer th:first-child,
#savedInfoContainer td:first-child {
    font-weight: bold;
}

#section2 {
    flex: 1;
    background-color: #5271FF;
    padding: 20px;
    position: relative;
    height: 100vh;

}

#noteText {
    background-color:#5271FF ;
    border: 0.2px solid #5e7bfe;
    position: relative;
    width: 100%;
    height: calc(100vh - 100px);
    border-radius: 10px; 
    padding: 10px; 
    border-collapse: collapse;
    color:aliceblue;

}

#noteText:hover {
    background-color: #4663e3d8;
}

#noteText:focus {
    background-color: #4663e3d8;
    text-align: left;
}

