body {
  background-color: #5271FF;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: center;

}

a {
  text-decoration: none;
  color: #5271FF;
}


h1.main-tittle {
  color: white;
}

#bookList {
  display: flex;
  /* Utilizar flexbox para alinear los libros en línea */
  flex-wrap: wrap;
  /* Permitir el ajuste de línea cuando no hay suficiente espacio */
  justify-content: flex-start;
  /* Alinear los libros al principio de la línea */
  padding: 20px;
}

.book-container {
  width: 200px;
  height: 300px;
  padding: 10px;
  margin: 10px;
  border: 1px solid #ccc;
  box-shadow: 0 0 20px rgba(1, 1, 1, 0.1);
  text-align: center;
  background-color: aliceblue;
  border-radius: 10px;
  overflow: hidden;
  display: inline-block;
}

/* Estilos para la sección de la imagen del libro */
.book-image-section {
  height: 80%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Estilos para la imagen del libro dentro de la sección de la imagen */
.book-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* Centrar y recortar la imagen para que se ajuste al contenedor */
  border-radius: 10px;
}

/* Estilos para la sección del título del libro */
.book-title-section {
  height: 30%;
  padding: 20px 10px 10px 10px;
  box-sizing: border-box;
}
.book-title-section:hover {
  opacity:.75;
}

/* Estilos para el texto del libro dentro de la sección del título */
.book-container h3 {
  margin: 0;
}

#addBookButton {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 60px;
  height: 60px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  z-index: 1;

}

#addBookButton i {
  font-size: 40px;
  color: #ffffff;
}
#addBookButton:hover{
  opacity: .75;
}

#eraseButton{
  position: fixed;
  bottom: 20px;
  right: 70px;
  width: 60px;
  height: 60px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  z-index: 1;
}

#eraseButton i{
  font-size: 40px;
  color: #ffffff;
}

#eraseButton:hover{
  opacity: .75;
}

.delete-button {
  display: flex;
  margin-left: 190px;
  position: absolute;
  top: 100px;
  width: 30px;
  height: 30px;
  color: rgb(225, 4, 4);
  background-color: transparent;
  border: none;
  cursor: pointer;
  z-index: 1;
}
.delete-button i {
  font-size: 25px;
  border: 1.2px solid #fdfdfd;
  border-radius: 50%; 
}
.delete-button:hover{
  opacity: .75;
}

#image-tittle {
  margin: 10px;
  display: inline-block;
}

/* Estilo personalizado para el input type="file" */
input[type="file"] {
  display: none;
  /* Oculta el input real */
}

.custom-file-upload {
  background-color: #5271FF;
  color: white;
  padding: 10px;
  border-radius: 5px;
  display: inline-block;
  cursor: pointer;
}

.custom-file-upload:hover {
  background-color: #4057bd;
}

/* Seleccionar el label asociado al input type="file" y aplicar estilos */
input[type="file"]+label {
  cursor: pointer;
  display: inline-block;
  padding: 10px;
  background-color: #5271FF;
  color: white;
  border-radius: 5px;
}

/* Estilo al pasar el ratón por encima del label */
input[type="file"]+label:hover {
  background-color: #4057bd;
}

/* Estilos para el formulario */
.addForm {
  position: relative;
  top: 50%;
  /* Centrar verticalmente */
  left: 50%;
  /* Centrar horizontalmente */
  transform: translate(-50%, -50%);
  /* Ajustar al centro exacto */
  width: 200px;
  height: 300px;
  z-index: 2;
}

/* Clase para ocultar el formulario por defecto */
.form-popup {
  display: none;
  position: fixed;
  top: 50%;
  /* Centrar verticalmente */
  left: 50%;
  /* Centrar horizontalmente */
  transform: translate(-50%, -50%);
  /* Ajustar al centro exacto */
  width: 200px;
  height: 300px;
  box-shadow: 0 0 20px rgba(1, 1, 1, 0.3);
  background-color: aliceblue;
  border-radius: 10px;
  z-index: 1;
  padding: 15px;

}

/* Full-width input fields */
.addForm input[type=text] {
  width: 70%;
  padding: 10px;
  margin: 10px;
  border: none;
  color: white;
  background: #5271FF;
}

/* When the inputs get focus, do something */
.addForm input[type=text]:focus {
  background-color: #4057bd;
  outline: none;
}

/* Set a style for the submit/login button */
.btn {
  background-color: #5271FF;
  color: white;
  padding: 16px 10px;
  border: none;
  cursor: pointer;
  width: 70%;
  border-radius: 10px;
  position: absolute;
  /* Cambia la posición a absoluta */
  display: inline-block;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.btn:hover {
  opacity: 2;
}